.masthead{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
}
.page{
    font: normal normal normal 4.5rem/6.5rem 'Nunito';
    letter-spacing: 0px;
    color: #2C263D;
    opacity: 0.8;
}
.btn-gig span{
    margin-right: auto;
    display: inline-block;
}